<div class="row m10">
  <!-- <div class="col-md-12">
      <label>Search by event name</label>
      <input type="text" [(ngModel)]="searchTerm" class="form-control">
  </div> -->
</div>
<div id="accordion">
    <div class="card" *ngFor="let aCompetition of data; let i=index">
      <div class="card-header" id="heading-1">
        <h5 class="mb-0">
          <a role="button" data-toggle="collapse" href="#collapse{{aCompetition.id}}" aria-expanded="false" aria-controls="collapse-1">
            {{aCompetition.name}}
          </a>
        </h5>
      </div>
      <div id="collapse{{aCompetition.id}}" class="collapse" data-parent="#accordion" aria-labelledby="heading-1">
        <div class="card-body">
  
          <div *ngIf="aCompetition.event" id="accordion-1">
            <div class="card" *ngFor="let item of aCompetition.event;let j=index">
              <div class="card-header" id="heading-1-1">
                <h5 class="mb-0">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse{{item.id}}_{{aCompetition.id}}" aria-expanded="false" aria-controls="collapse-1-1">
                    
                    <div class="row">
                      <div class="col-md-3">{{ item.name }} ({{item.markets.length}})</div>
                      <div class="col-md-3">{{ item.countryCode }}</div>
                      <div class="col-md-3">{{ item.openDate | date:'medium' }}</div>
                      <div class="col-md-3">
                        <a><i class="fas fa-toggle-on"></i></a>
                        <a><i class="fas fa-toggle-off"></i></a>
                        <a><i data-toggle="tooltip" data-placement="top" title="Tooltip on top" class="fas fa-info mx-1"></i></a>
                        <a><i class="fas fa-times mx-1"></i></a>
                      </div>
                    </div>
                  </a>
                </h5>
              </div>
              <div id="collapse{{item.id}}_{{aCompetition.id}}" class="collapse" data-parent="#accordion-1" aria-labelledby="heading-1-1">
                <div class="card-body">
  
                        <div>
                            <table class="table">
                                <tr>
                                    <th>Add Market</th>
                                    <th>Market Id</th>
                                    <th>Market Name</th>
                                    <th>Total matched</th>
                                    <th>Active/Suspend</th>
                                </tr>
                                <tr>
                                  <th colspan="99" style="background: #efefef;">Match Odds</th>
                                </tr>
                                <tr *ngFor="let aMarket of item.markets">
                                    <td><input #val [checked]="isMarketLive(aMarket.marketId)" [disabled]="aMarket.inPlay" type="checkbox" (click)="openLiveMarketModel(eventType,aCompetition,item,aMarket,val.checked)" data-toggle="modal" data-target="#exampleModal"></td>
                                    <td>{{aMarket.marketId}}</td>
                                    <td>{{aMarket.marketName}}</td>
                                    <td>{{aMarket.totalMatched}}</td>
                                    <td>
                                      <div class="toggle-button">
                                        <label class="switch">
                                          <input type="checkbox" [checked]="isMarketLive(aMarket.marketId)" (change)="toggleMarket(aMarket.marketId,$event,aMarket.enabled)">
                                          <span class="slider round"></span>
                                        </label>
                                      </div>
                                    </td>
                                </tr>
                                <tr *ngIf="item.hasInPlayFancyBetMarkets">
                                  <th colspan="99" style="background: #efefef;">Fency Market</th>
                                </tr>
                                <tr *ngFor="let aMarket of item.fency">
                                  <td><input #val [checked]="isMarketLive(aMarket.marketId)" type="checkbox"></td>
                                  <td>{{aMarket.marketId}}</td>
                                  <td>{{aMarket.marketName}}</td>
                                  <td>{{aMarket.minMaxSetting}}</td>
                                  <td>
                                    <div class="toggle-button">
                                      <label class="switch">
                                        <input type="checkbox" [checked]="isMarketLive(aMarket.marketId)" (change)="toggleMarket(aMarket.marketId,$event,aMarket.enabled)">
                                        <span class="slider round"></span>
                                      </label>
                                    </div>
                                  </td>
                              </tr>
                              <tr *ngIf="item.hasInPlayBookMakerMarkets">
                                <th colspan="99" style="background: #efefef;">Bookmakers Market</th>
                              </tr>
                              <tr *ngFor="let aMarket of item.book">
                                <td><input #val [checked]="isMarketLive(aMarket.marketId)" type="checkbox"></td>
                                <td>{{aMarket.marketId}}</td>
                                <td>{{aMarket.marketName}}</td>
                                <td>{{aMarket.minMaxSetting}}</td>
                                <td>
                                  <div class="toggle-button">
                                    <label class="switch">
                                      <input type="checkbox" [checked]="isMarketLive(aMarket.marketId)" (change)="toggleMarket(aMarket.marketId,$event,aMarket.enabled)">
                                      <span class="slider round"></span>
                                    </label>
                                  </div>
                                </td>
                            </tr>
                            </table>
                            
                          </div>
  
                </div>
              </div>
            </div>
            
          </div>      
        
        </div>
      </div>
    </div>
    
  </div>
<div class="row">
  <div class="col-md-12 actionbut">
    <button class="btn btn-primary float-right" name="saveAll" (click)="saveMarkets()">SAVE</button>
    <button class="btn btn-default float-right" name="saveAll" (click)="clearMarkets()">CLEAR ALL</button>
  </div>
</div>
  

<div id="overlay" *ngIf="showLoad">
  <div class="spinner"></div>
  <br/>
  Loading...
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <form  action="" method="post" [formGroup]="marketForm" (ngSubmit)="enableMarket()">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Market</h5>
        <button type="button" #closebutton class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="MinBetAmount">Min bet amount</label>
                <input type="number" class="form-control" formControlName="min" id="MinBetAmount" placeholder="" ([ngModel])="MinBetAmount">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="MaxBetAmount">Max bet amount</label>
                <input type="number" class="form-control" id="MaxBetAmount" formControlName="max" placeholder="" ([ngModel])="MaxBetAmount">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="ScheduledLiveTime">Scheduled live time</label>
                <input type="date" class="form-control" id="ScheduledLiveTime" placeholder="" formControlName="sDate">
                <small id="ScheduledLiveTime" class="form-text text-muted">{{ScheduledLiveTime}}</small>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="ScheduledCloseTime">Scheduled close time</label>
                <input type="date" class="form-control" id="ScheduledCloseTime" placeholder="" formControlName="eDate">
                <small id="ScheduledCloseTime" class="form-text text-muted">{{ScheduledCloseTime}}</small>
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</form>
</div>