<div id="accordion">
    <div class="card" *ngFor="let aCompetition of data; let i=index">
      <div class="card-header" id="heading-1">
        <h5 class="mb-0">
          <a role="button" data-toggle="collapse" (click)="getevent(aCompetition.comp.competition.id,i)" href="#collapse{{aCompetition.comp.competition.id}}" aria-expanded="false" aria-controls="collapse-1">
            {{aCompetition.comp.competition.name}}
          </a>
        </h5>
      </div>
      <div id="collapse{{aCompetition.comp.competition.id}}" class="collapse" data-parent="#accordion" aria-labelledby="heading-1">
        <div class="card-body">
  
          <div *ngIf="aCompetition.event" id="accordion-1">
            <div class="card" *ngFor="let item of aCompetition.event;let j=index">
              <div class="card-header" id="heading-1-1">
                <h5 class="mb-0">
                  <a class="collapsed" role="button" (click)="getmarket(item.event.id,i,j)" data-toggle="collapse" href="#collapse{{item.event.id}}_{{aCompetition.comp.competition.id}}" aria-expanded="false" aria-controls="collapse-1-1">
                    
                    <div class="row">
                      <div class="col-md-3">{{ item.event.name }} ({{item.marketCount}})</div>
                      <div class="col-md-3">{{ item.event.countryCode }}</div>
                      <div class="col-md-3">{{ item.event.openDate | date:'medium' }}</div>
                      <div class="col-md-3">
                        <a><i class="fas fa-toggle-on"></i></a>
                        <a><i class="fas fa-toggle-off"></i></a>
                        <a><i data-toggle="tooltip" data-placement="top" title="Tooltip on top" class="fas fa-info mx-1"></i></a>
                        <a><i class="fas fa-times mx-1"></i></a>
                      </div>
                    </div>
                  </a>
                </h5>
              </div>
              <div id="collapse{{item.event.id}}_{{aCompetition.comp.competition.id}}" class="collapse" data-parent="#accordion-1" aria-labelledby="heading-1-1">
                <div class="card-body">
  
                        <div>
                            <table class="table">
                                <tr>
                                    <th>Select</th>
                                    <th>Market Id</th>
                                    <th>Market Name</th>
                                    <th>Total matched</th>
                                    <th></th>
                                </tr>
                                <tr *ngFor="let aMarket of item.market">
                                    <td><input #val [checked]="aMarket.live" [disabled]="aMarket.live" type="checkbox" (click)="enableMarket(eventType,aCompetition.comp,item,aMarket,val.checked)"></td>
                                    <td>{{aMarket.marketId}}</td>
                                    <td>{{aMarket.marketName}}</td>
                                    <td>{{aMarket.totalMatched}}</td>
                                    <td>
                                      <a class="btn btn-success" (click)="activateMarket(aMarket.marketId)">Active</a>
                                      <a class="btn btn-danger" (click)="suspendMarket(aMarket.marketId)">Suspend</a>
                                    </td>
                                </tr>
                            </table>
                            
                          </div>
  
                </div>
              </div>
            </div>
            
          </div>      
        
        </div>
      </div>
    </div>
    
  </div>

  <button name="saveAll" (click)="saveMarkets()">-SAVE-</button>
<button name="saveAll" (click)="clearMarkets()">-CLEAR ALL-</button>