<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
  <alert></alert>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <!-- <a class="navbar-brand" href="#">Logo goes here</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <ng-template ngFor let-aEventType [ngForOf]="eventTypes">
            <li class="nav-item">
              <a class="nav-link" href="/eventtype/eventlist/{{aEventType.eventType.id}}" routerLinkActive="active"
                *ngIf="aEventType.eventType.id==4||aEventType.eventType.id==2||aEventType.eventType.id==1">
                {{aEventType.eventType.name}}<span class="event-count">({{aEventType.marketCount}})</span>
              </a>
            </li>
          </ng-template>
          <li class="nav-item">
            <a class="nav-link" href="/eventtype/liveevents/">Live Markets</a>
          </li>
          <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
        </ul>
      </div>
      <ul class="notification form-inline my-2 my-lg-0">
        <li>
          <div class="dropdown">
            <i class="fa fa-bell notification-icon pointer" aria-hidden="true" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false"></i> <span class="badge badge-light">{{ Notifications.length }}</span>         
            <div class="dropdown-menu dropdown-menu-lg-right notification-dropdown" aria-labelledby="dropdownMenuNotification">
              <li class="dropdown-item bg-dark text-light">Notification</li>
              <li class="dropdown-item maxWidth" *ngFor="let notification of Notifications">
                <div class="media">
                  <img src="/assets/user.png" width="50" class="mr-3" alt="...">
                  <div class="media-body">
                    <h6 class="mt-0">{{ notification.eventName }}</h6>                    
                    <p class="small">{{ notification.eventOpenDate | date:"medium" }}</p>
                  </div>
                </div>
              </li>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <br />
  <router-outlet></router-outlet>
</div>